<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div class="row">
            <div class="col-md-12">
                <div class="form-wrap">
                    <form action='/addMajor' method="post" data-toggle="validator" role="form" onsubmit="return fn()">
                        <div class="form-group">
                            <label for="inputName" class="control-label mb-10">Area Name</label>
                            <input type="text" class="form-control" id="an" name="areaName">
                            <span style="color: red;display: none" id="san1">Enter Area Name</span>
                            <span style="color: red;display: none" id="san2">Enter Valid Area Name</span>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>
</html>