<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Footer</title>
    </head>

    <style>
         /*Footer*/
    .footer {
          /*left: 0;*/
          /*bottom: 0;*/
          width: 100%;
          padding: 10px;
          text-align: center;
          background: #000000;
          color: #ffffff;
          /*position: static;*/
          margin-top: auto;
    }
    </style>
    <body>
        <footer class="footer">
            <span id="footer-name">GATOR LEARN © 2021 | </span>
            <a id="email-link" href="mailto:gatorlearn@mail.sfsu.edu" style="color: #0a53be"> Contact Us</a>
        </footer>
    </body>
</html>