<!--
* Class: CSC-648-848 Fall 2021
* Author: Manali Seth
* Description: This html file has footer content to be included in all other html files
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Footer</title>
        <link rel="shortcut icon" href="https://i.pinimg.com/originals/89/9a/59/899a5934848695c4305e1882e5753433.png" />
    </head>

    <style>

    /*Footer*/
    .footer {
          /*left: 0;*/
          /*bottom: 0;*/
          width: 100%;
          padding: 10px;
          text-align: center;
          background: #000000;
          color: #ffffff;
          /*position: static;*/
          margin-top: auto;
    }
    </style>

    <body>

        <footer class="footer">
            <span id="footer-name">GATOR LEARN © 2021 | </span>
            <a id="email-link" href="mailto:gatorlearn@mail.sfsu.edu" style="color: #0a53be"> Contact Us</a>
        </footer>

    </body>

</html>