<!DOCTYPE html>
<html lang="en">
<title>Page Title</title>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>

.header {
  padding: 2px;
  text-align: center;
  background: #000000;
  color: white;
}

.header h1 {
  font-size: 40px;
}

p{
    font-size: 20px;
}

</style>

<body>

<div class="header">
  <h2>SFSU Software Engineering Project</h2>
  <p>CSC 648-848, Fall 2021</p>
  <p>For Demonstration Only</p>
  <p>Section 03 | Team 4</p>
</div>

</body>
</html>