<!DOCTYPE html>
<html lang="en">
    <title>Page Title</title>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <style>
        .header {
          padding: 1px;
          text-align: center;
          background: #000000;
          color: white;
        }
        .header h4 {
          font-size: 14px;
        }
        p{
          font-size: 12px;
        }
    </style>

    <body>
        <div class="header">
          <h4>SFSU Software Engineering Project</h4>
          <p>CSC 648-848, Fall 2021</p>
          <p>For Demonstration Only</p>
          <p>Section 03 | Team 4</p>
        </div>
    </body>
</html>