<!--
* Class: CSC-648-848 Fall 2021
* Author: Manali Seth
* Description: This html file has header content to be included in all other html files
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Header</title>
        <link rel="shortcut icon" href="https://i.pinimg.com/originals/89/9a/59/899a5934848695c4305e1882e5753433.png" />
    </head>

    <style>
        .header {
          padding: 1px;
          text-align: center;
          background: #000000;
          color: white;
        }
        .header h4 {
          font-size: 14px;
        }
        p{
          font-size: 12px;
        }
    </style>

    <body>

        <div class="header">
          <h4>SFSU Software Engineering Project</h4>
          <p>CSC 648-848, Fall 2021</p>
          <p>For Demonstration Only</p>
          <p>Section 03 | Team 4</p>
        </div>

    </body>
</html>