<!--
* Class: CSC-648 Fall 2021
* Author: Htet, Manali
* Description: Home page when first visiting site; contains logic for search
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="import" href="header.html">
    <link rel="stylesheet" href="../../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../static/css/styles.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Home Page</title>

    <style>

            *{
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
            }

            body{
                /*height: 100vh;*/
                width: 100vw;
                display: flex;
                flex-direction: column;
                background-color: #34383a;
                background: url("../../static/images/tutoring_HomePage4.jpg") no-repeat;
                background-size: cover;
            }

            #header{
                height: 17%;
                /*padding-bottom: 10px;*/
            }

            .container > form{
                display: flex;
            }

            .container > *{
                margin: 0 10px;
            }

            #space{
                height: 178px;
            }

    </style>
</head>

<body>

<div id="header">
    {% include 'user/header.html' %}
</div>
{% include 'user/loginNavbar.html' %}

<main>

    <div class="row justify-content-md-center">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    TUTOR POSTING
                </div>
                <div class="card-body">
                    <h5 class="card-title">Please fill out the form to publish your availability to tutor courses.</h5>
                    <form class="row g-3">
                        <div class="col-md-12">
                            <label for="inputMajor" class="form-label">Major:</label>
                            <select id="inputMajor" class="form-select">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label for="inputCourse" class="form-label">Course:</label>
                            <select id="inputCourse" class="form-select">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label for="inputText" class="form-label">Description:</label>
                            <input type="text" class="form-control" id="inputText"
                                   placeholder="Any additional info you'd like to add about your tutoring, such as available hours (optional)">
                        </div>
                        <div class="col-md-12">
                            <label for="inputUpload" class="form-label">CV upload:</label>
                            <input type="file" class="form-control" id="inputUpload">
                        </div>
                        <div class="col-md-12">
                            <label for="pfpUpload" class="form-label">Profile picture upload (optional):</label>
                            <input type="file" class="form-control" id="pfpUpload">
                        </div>
                        <div class="col-md-12">
                            <label for="startDate">Start date:</label>
                            <input type="date" id="startDate" name="trip-start"
                                   value="2021-08-01"
                                   min="2021-08-01" max="2022-01-01">
                            <!--Change dates here-->
                        </div>
                        <div class="col-md-12">
                            <label for="endDate">End date:</label>
                            <input type="date" id="endDate" name="trip-start"
                                   value="2022-01-01"
                                   min="2021-08-01" max="2022-01-01">
                             <!--Change dates here-->
                        </div>
                        <div class="col-md-3">
                            <label for="fromTime1">Availability from:</label>
                            <input type="time" id="fromTime1" name="appt"
                                   min="09:00" max="18:00" required>
                        </div>
                        <div class="col-md-3">
                            <label for="toTime1">to:</label>
                            <input type="time" id="toTime1" name="appt"
                                   min="09:00" max="18:00" required>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckSu">
                            <label class="form-check-label" for="flexCheckSu">
                                Sunday
                            </label>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckNASu">
                            <label class="form-check-label" for="flexCheckNASu">
                                Not available Sundays
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label for="fromTime2">Availability from:</label>
                            <input type="time" id="fromTime2" name="appt"
                                   min="09:00" max="18:00" required>
                        </div>
                        <div class="col-md-3">
                            <label for="toTime2">to:</label>
                            <input type="time" id="toTime2" name="appt"
                                   min="09:00" max="18:00" required>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckMon">
                            <label class="form-check-label" for="flexCheckMon">
                                Monday
                            </label>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckNAM">
                            <label class="form-check-label" for="flexCheckNAM">
                                Not available Mondays
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label for="fromTime3">Availability from:</label>
                            <input type="time" id="fromTime3" name="appt"
                                   min="09:00" max="18:00" required>
                        </div>
                        <div class="col-md-3">
                            <label for="toTime3">to:</label>
                            <input type="time" id="toTime3" name="appt"
                                   min="09:00" max="18:00" required>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckTu">
                            <label class="form-check-label" for="flexCheckTu">
                                Tuesday
                            </label>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckNATu">
                            <label class="form-check-label" for="flexCheckNATu">
                                Not available Tuesdays
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label for="fromTime4">Availability from:</label>
                            <input type="time" id="fromTime4" name="appt"
                                   min="09:00" max="18:00" required>
                        </div>
                        <div class="col-md-3">
                            <label for="toTime4">to:</label>
                            <input type="time" id="toTime4" name="appt"
                                   min="09:00" max="18:00" required>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckWed">
                            <label class="form-check-label" for="flexCheckWed">
                                Wednesday
                            </label>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckNAWed">
                            <label class="form-check-label" for="flexCheckNAWed">
                                Not available Wednesdays
                            </label>
                        </div>
                         <div class="col-md-3">
                            <label for="fromTime5">Availability from:</label>
                            <input type="time" id="fromTime5" name="appt"
                                   min="09:00" max="18:00" required>
                        </div>
                        <div class="col-md-3">
                            <label for="toTime5">to:</label>
                            <input type="time" id="toTime5" name="appt"
                                   min="09:00" max="18:00" required>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckTh">
                            <label class="form-check-label" for="flexCheckTh">
                                Thursday
                            </label>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckNATh">
                            <label class="form-check-label" for="flexCheckNATh">
                                Not available Thursdays
                            </label>
                        </div>
                         <div class="col-md-3">
                            <label for="fromTime6">Availability from:</label>
                            <input type="time" id="fromTime6" name="appt"
                                   min="09:00" max="18:00" required>
                        </div>
                        <div class="col-md-3">
                            <label for="toTime6">to:</label>
                            <input type="time" id="toTime6" name="appt"
                                   min="09:00" max="18:00" required>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckF">
                            <label class="form-check-label" for="flexCheckF">
                                Friday
                            </label>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckNAF">
                            <label class="form-check-label" for="flexCheckNAF">
                                Not available Fridays
                            </label>
                        </div>
                         <div class="col-md-3">
                            <label for="fromTime7">Availability from:</label>
                            <input type="time" id="fromTime7" name="appt"
                                   min="09:00" max="18:00" required>
                        </div>
                        <div class="col-md-3">
                            <label for="toTime7">to:</label>
                            <input type="time" id="toTime7" name="appt"
                                   min="09:00" max="18:00" required>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckSat">
                            <label class="form-check-label" for="flexCheckSat">
                                Saturday
                            </label>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckNASat">
                            <label class="form-check-label" for="flexCheckNASat">
                                Not available Saturdays
                            </label>
                        </div>
                        <div class="col-md-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    Check if available for group tutoring
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Send post to admin for approval</button>
                        </div>
                    </form>
                    <p class="card-text">May take up to 24-48 hours for post to be published and be live.</p>
                </div>
            </div>
        </div>
    </div>

<!--    &lt;!&ndash;Cards for recently added tutors&ndash;&gt;-->

<!--    <h3 style="text-align: center"><b>RECENTLY ADDED TUTORS</b></h3>-->

<!--    <div class="row" style="text-align: center; justify-content: center">-->
<!--        {% for i in tutorDict %}-->
<!--        <div class="col-md-3">-->
<!--            <div class="card" style="width: 250px;">-->
<!--                <img class="card-img-top" src="static/dataset/{{ i[9]}}" alt="Tutor Image">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">{{i[3]}} {{i[4]}}</h5>-->
<!--                    <p class="card-text">{{i[10]}}</p>-->
<!--                    <a href="#" class="btn btn-primary">Profile</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--    </div>-->

    <div id="space"></div>
</main>

<script src="https://unpkg.com/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
<script src="../../static/js/bootstrap.js"></script>

<!--  Search end-->

    {% include 'user/footer.html' %}

</body>

</html>