<!DOCTYPE html>
<html lang="en">
<head>

  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="import" href="header.html">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

      <style>
            .container-fluid{
                display: flex;
                justify-content: center;
                width: 100%;
            }

            .container-fluid > *{
                margin-top: 15px;
            }
      </style>

       <!--Data Table-->
      <script>
          $(document).ready(function() {
            $('#example').DataTable();
          } );
      </script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css"></script>
      <script src="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <!-- Data Table end   -->
</head>

<script>
    $(function() {
        $.ajax({
            url: '{{ url_for("search") }}'
            }).done(function (data){
                $('#courseName').autocomplete({
                    source: data,
                    minLength: 2
                });
            });
        });
</script>

<body>

    <div id="header">
    {% include 'user/header.html' %}
    </div>

     <div class="container-fluid">

         <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Gender</th>
                        <th>Email</th>
                        <th>Description</th>
                        <th>Course Taught</th>
                        <th>Avatar</th>
<!--                        <th>Action</th>-->
                    </tr>
                </thead>
                <tbody>
                    {% for i in tutorDict %}
                        <tr>
<!--                            <td>{{i[0]}}</td>-->
                            <td>{{i[3]}}</td>
                            <td>{{i[4]}}</td>
                            <td>{{i[6]}}</td>
                            <td>{{i[7]}}</td>
                            <td>{{i[10]}}</td>
                            <td>{{i[13]}}</td>
                            <td><img src="static/dataset/{{ i[9]}}"></td>
<!--                            <td><button>Book Appointment</button></td>-->
                        </tr>
                    {% endfor %}
                </tbody>
<!--                <tfoot>-->
<!--                    <tr>-->
<!--                        <th>First Name</th>-->
<!--                        <th>Last Name</th>-->
<!--                        <th>Gender</th>-->
<!--                        <th>Email</th>-->
<!--                        <th>Description</th>-->
<!--                        <th>Role</th>-->
<!--                        <th>Course Taught</th>-->
<!--                    </tr>-->
<!--                </tfoot>-->
         </table>

     </div>
</body>
</html>